<div class="page-header">
  <h1>Workers List</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birthday</th>
          <th>Document</th>
          <th>Startup Date</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="worker in workers">
          <td>{{worker.id}}</td>
          <td>{{worker.name}}</td>
          <td>{{worker.surname}}</td>
          <td>{{worker.birth_date}}</td>
          <td>{{worker.document_id}}</td>
          <td>{{worker.startup_date}}</td>
          <td>{{worker.salary}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>