<section id="no-more-tables">
<div class="page-header">
  <h1>Workers List</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Birthday</th>
        <th>Document</th>
        <th>Startup Date</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="worker in workers">
        <td data-title="#">{{worker.id}}</td>
        <td data-title="Name">{{worker.name}}</td>
        <td data-title="Surname">{{worker.surname}}</td>
        <td data-title="Birthday">{{worker.birthday_at | date:'dd/MM/yyyy'}}</td>
        <td data-title="Document">{{worker.document_type.description}}: {{worker.document_number}}</td>
        <td data-title="Startup Date">{{worker.startup_at | date:'dd/MM/yyyy'}}</td>
        <td data-title="Salary">{{worker.salary | currency:'€'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</section>